.header {
    background-color: white;
    font-family: Helvetica;
    text-align: center;
    margin: 20px 30px;
    padding: 10px 20px;
}

.top-navigation {
    background-color: white;
    font-family:Helvetica;
    clear:both;
    display:inline;
    text-align: center;
}

.left-navigation {
    background-color: #DEDBDB;
    font-family: Helvetica;
    height: 200px;
    width: 100px;
    float: left;
    text-align: left;
    margin-left: 300px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
}

#image {
    background-color: white;
    font-family: Helvetica;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;>
}

#content1{
    background-color: white;
    font-family: Helvetica;
    text-align: left;
    height: 200px;
    width: 300px;
    float: left;
    margin-top: 50px;
}

.bottom-navigation{
    background-color: white;
    font-family: Helvetica;
    clear: both;
    text-align: center;
    margin-top: 500px;
}


.footer{
    background-color: white;
    font-family: Helvetica;
    clear: both;
    text-align: center;
    font-size: 10px;
}
